<script type="text/javascript">
	
	var AdminLangswitch = function (lang) {
		document.getElementById('adminLangswitch').value = lang;
		document.getElementById('adminLangswitchForm').submit();
	}
	
</script>

/
{% for lang in LANGUAGES %}
	<a href="#" onclick="AdminLangswitch(this.innerHTML);" style="text-transform: uppercase; {% if lang.0 == LANGUAGE_CODE %}font-weight: bold;{% endif %}">{{ lang.0 }}</a>
{% endfor %}
/

<form action="{% url django.views.i18n.set_language %}" method="post" style="display: none;" id="adminLangswitchForm">
    {% csrf_token %}
	<input id="adminLangswitch" name="language" value="{{ LANGUAGE_CODE }}" />
</form>